*{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3rem;
}

h1{
    font-weight: bolder;
}

.categories:hover{
    color: rgb(0, 187, 255);
    font-size: 1.5rem;
    font-weight: 200;
}

#Locations{
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td, table{
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

th, td{
    padding: 1em;
}

